// Theme Colors
$blue:    #63719C !default;
$orange:  #F15A29 !default;
$green-cnxt:#698473!default;
$green-cnxt-100:#8fffb8;
$pink:#e7fd6b!default;
$body-background: #eff2f6;

// White and Greay Colours
$white:    #fff ;
$gray-100: #f8f9fa ;
$gray-200: #e9ecef ;
$gray-300: #dee2e6 ;
$gray-400: #ced4da ;
$gray-500: #adb5bd ;
$gray-600: #6c757d ;
$gray-700: #495057 ;
$gray-800: #343a40 ;
$gray-900: #212529 ;
$black:    #000 ;

$primary:       $orange;
$secondary:     $blue;

//Green Colour

$green-cnxt-100: tint-color($green-cnxt, 80%);
$green-cnxt-200: tint-color($green-cnxt, 60%);
$green-cnxt-300: tint-color($green-cnxt, 40%);
$green-cnxt-400: tint-color($green-cnxt, 20%);

// Font Family Added

$font-family-sans-serif:'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// Import Bootstap 5
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.form-control-lg {
    padding: 0.8rem 1rem!important;
    font-size: .9rem!important;
}
.btn-primary {
    color: $white!important;
}
.success-msg h6 {
    font-size: .8rem;
}
.btn-green{
    background-color: $green-cnxt;
    &:hover{
        background-color: $pink-400!important;
    }
}
// @include media-breakpoint-up(lg){

// }
.btn{
    font-weight: 600;
}

