@use '../custom' as *;

a.navbar-brand img {
    width: 150px;
  }
  
  ul.navbar-nav{
      height: 50px;
  }
  a.navbar-brand{
      margin: 0;
  }
  .dropdown-toggle::after{
      content: none !important;
  }
  .img-wr {
      margin-right: 15px;
  }
  
  div#collapsibleNavbar {
      justify-content: right;
  }
  a.nav-link {
      font-size: 15px;
      font-weight: 600;
      margin-right: 20px;
      color: #505050;
      padding: 15px;
      padding-bottom: 8px;
  }
  ul.nav.navbar-nav.navbar-right a.nav-link.dropdown-toggle {
      margin-right: 0;
      padding: 0;
      margin-left: 15px;
  }
  .nav-right-content p {
      margin-bottom: 0px;
      font-size: 12px;
      margin-top: 7px;
  }
  a.nav-link:hover {
      border-bottom: 5px solid #e75929;
      color: #e75929;
  }
  ul.nav.navbar-nav.navbar-right a.nav-link.dropdown-toggle:hover{
      border: none;
  }
  ul.dropdown-menu.show {
      border-radius: 0;
      border: none;
      box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
      padding: 5px 20px;
  }
  ul.nav.navbar-nav.navbar-right ul.dropdown-menu.show {
      left: -110px !important;
  }
  ul.dropdown-menu.show li {
      border-bottom: 1px solid #ddd;
      font-size: 14px;
      color: #505050;
  }
  ul.dropdown-menu.show li:last-child {
      border-bottom: none;
  }
  
  .remove-margin{
      margin: 0 !important;
  }
  .remove-padding{
      padding: 0 !important;
  }
  
  .db-top-wrapper {
    padding: 25px 0 10px;
  }
  
  .db-top-wrapper .left .profile-sec img {
    width: 70px;
    margin-right: 20px;
  }
  
  .db-top-wrapper .left .content h3 {
    font-size: 20px !important;
    font-weight: 700;
    color: #4A4A4A;
    margin: 0;
    margin-top: 10px;
  }
  
  .db-top-wrapper .left .content h6 span img.min-icon {
    margin-right: 5px;
    margin-bottom: 4px;
  }
  
  .in-page {
    height: 36px !important;
    display: flex;
    padding: 0 15px !important;
    align-items: center;
  }
  
  .date-picker form input {
      height: 36px;   
      padding: 0 10px;
      margin-right: 10px;
  }
  
  .db-top-wrapper .right {
    display: flex;
    justify-content: right;
  }
  
  li.dropdown.open ul.dropdown-menu li a {
    font-weight: 400;
    border-bottom: 1px solid #ddd;
  }
  
  ul.dropdown-menu {
    padding: 0 12px;
  }
  
  .dropdown-menu > li > a {
    padding: 10px 0;
  }
  .bo-bottom{
      border-bottom: 1px solid rgb(238, 238, 238);
  }