@use '../custom' as *;

.nav-tabs.page-nav{
    background: $white;
    padding: 0 46px;
}
.tab-page{
    padding: 30px 46px 0;
    
}
.nav-tabs.page-nav .nav-item.show .nav-link {
    background-color:$body-background;
   
}
.nav-tabs .nav-link.active {
    background-color:$body-background;
    border-bottom-color:$body-background;
}
.nav-tabs.page-nav .nav-link:focus{
    border-color: #dee2e6;
    border-bottom-color: $body-background;
}
.nav-tabs .nav-link {
    border-color: $body-background;
    border-bottom-color: #dee2e6;
    padding: 8px 35px;
    display: flex;
    align-items: center;
    color: var(--primary-text);
    background: #fdfdfd;
    font-weight: 500;
}
.nav-tabs.page-nav .nav-item{
    margin-right: 5px;
}

.nav-tabs .nav-link i{
    margin-right: 10px;
    font-size: 20px;
}
.nav-tabs .nav-link.active i{
    color: var(--orange);
}
.add-on .input-group-btn > .btn {
    border-left-width:0;left:-2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
  /* stop the glowing blue shadow */
  .add-on .form-control:focus {
   box-shadow:none;
   -webkit-box-shadow:none; 
   border-color:#cccccc; 
  }
  
  /* enable absolute positioning */
  .inner-addon {
    position: relative;
  }
  
  /* style glyph */
  .inner-addon i {
    position: absolute;
    padding: 8px 10px;
    pointer-events: none;
  }
  
  /* align glyph */
  .left-addon i  { left:  0px;}
  .right-addon i { right: 0px;}
  
  /* add padding  */
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }

  .search_md{
    width: 80%;
  }
  .avatar-med{
        border-radius: 50%;
        width: 100%;
  }
  ul.cont-list{
    padding: 0;
    margin: 0;
  }
  ul.cont-list li {
    border-bottom: 1px solid #ececec;
    padding: 10px 0px;
    list-style: none;
    a {
        text-decoration: none;
        i{
            color: var(--primary-text);
        }
    }
    }
    
.cont-name-sml {
    font-size: 1.1rem;
    color: var(--primary-text);
    margin-bottom: 5px;
} 
.cont-desc-sml {
    font-size: .9rem;
    color: var(--secondary-text);
    margin: 0;
}  
.avatar-wrapper{
    width: 3rem;
    margin-right: 10px;
}